.button-container{
    width: 300px;
    margin: 5px auto;
}
.button-busca {
    background-color: rgb(2, 122, 2);
    color: gold;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    width: 100%;
}
